body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 .container{
     height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 50px;
 }
 .box1{
     height: 400px;
     width: 350px;
     background-image: url(./image/P-1.png);
     background-size: cover;
     display: flex;
     justify-content: center;
 }
 .child1{
     height: 90px;
     width: 80%;
     background-color: white;
     margin-top: 270px;
     border-radius: 15px;
     overflow: hidden;
     transition: 0.5s;
 }
 .child1 > h2{
     text-align: center;
     font-size: 28px;
     line-height: 10px;
 }
 .child1 > h3{
     text-align: center;
     color: #999;
     letter-spacing: 5px;
 }
 .text-hide{
     display: none;
 }
 .child1:hover{
     height: 150px;
     transform: translateY(-50px);
     cursor: pointer;
 }
 .child1:hover .text-hide{
     display: block;
     color: #999;
     text-align: center;
 }
 .box2{
     height: 400px;
     width: 350px;
     background-image: url(./image/P-2.png);
     background-size: cover;
     display: flex;
     justify-content: center;
 }

 /* second hover animation */
.box3 {
    height: 400px;
    width: 400px;
    position: relative;
    background-color: black;
    overflow: hidden;
  }
  .box3 > img {
    height: 100%;
    width: 100%;
    transition: 0.8s;
  }
  .box3:hover > img {
    transform: scale(1.1);
    opacity: 60%;
    cursor: pointer;
  }
  .box3 > .layer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    transform: translateY(100%);
    transition: transform 0.9s ease;
  }
  .box3:hover > .layer {
    transform: translateY(0%);
  }
  .layer > h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 120px;
  }
  .layer > h2 {
    text-align: center;
    color: aliceblue;
  }
  .layer > p {
    text-align: center;
    color: aliceblue;
    font-size: 1.2rem;
    margin-inline: 30px;
  }